@font-face {
    font-family: 'Georgia';
    src: url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url('GeorgiaPro-Bold.woff2') format('woff2'),
        url('GeorgiaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url('GeorgiaPro-Semibold.woff2') format('woff2'),
        url('GeorgiaPro-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

