.career {
    margin-bottom: 6rem;
    &__card-contain {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 32px 24px;
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
          }
        @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-gap: 24px;
        }
    }

    &__card {
        border: 1px solid #DDDFE3;
        max-width: 464px;
        // min-height: 240px;
        padding: 32px;
        display: block;
        transform: translateY(0);
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            transform: translate3d(0, -4px, 0);
        }
    }

    &__card-title {
        color: var(--color-secondary);
    }

    &__location {
        margin-top: 24px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
    }

    &__place {
        font-family: var(--font-menu);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        color: #667085;
        margin-left: 16px;
    }

    &__icon g path {
        stroke: #667085;

    }

    &__details {
        font-family: var(--font-menu);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.4;
        color: var(--color-secondary);
        display: flex;
        align-items: center;
        grid-gap: 12px;
    }

    &__icon-next path {
        stroke:var(--color-secondary);

    }

}