.location {
    margin-top: 90px;

    @media screen and (max-width: 1024px) {
        margin: 60px 0;
      }
      @media screen and (max-width: 800px) {
        margin: 50px 0;
      }
      @media screen and (max-width: 600px) {
        margin: 40px 0;
      }

    &__wrap {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-gap: 60px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 330px 1fr;
          }
          @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
          }
          
    }

    &__sec {
        border: .5px solid var(--color-white);
        padding: 24px;
        border-radius: 2px 2px 0px 0px;
        background-color: var(--color-secondary);

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        transition: all .3s ease;

        &--show {
          background-color: var(--color-primary);
        }

        &:hover {
          background-color: var(--color-primary);
        }

        &:hover .location__hidden {

          max-height: 107px;
          
        }

         
        
        &--end-border {
            border-radius: 0px 0px 2px 2px;
        }
    }

    

    

    &__sec-content {
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-gap: 10px;

        
    }

    &__img-cont {
        width: 24px;
        height: 24px;
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__map {
        width: 100%;
        margin: auto;

        @media screen and (max-width: 960px) {
            grid-row-start: 1;
            grid-row-end: 2;
          }
    }

    &__map-img {
        width: 100%;
        object-fit: cover;
    }

    &__hidden {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease;
      backface-visibility: hidden;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;

      &--show {
        max-height: 107px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
      }
      &--hide {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;
        backface-visibility: hidden;
      }


      
    }

   
}